{{- if .Values.externalSecret.app.enabled }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ $.Release.Name }}-app-secrets
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: {{ .Values.externalSecret.app.secretStoreName  | default (printf "%s-secrets-store" $.Release.Name) }}
    kind: SecretStore
  target:
    name: {{ $.Release.Name }}-app-secrets
    creationPolicy: Owner
    deletionPolicy: Delete
  dataFrom:
    - extract:
        key: {{ .Values.externalSecret.awsSecretPrefix | default (include "jetscale.aws-name-prefix" .) }}/application/config
      rewrite:
        - regexp:
            source: "(.*)"
            target: "JETSCALE_$1"
        - transform:
            template: "{{`{{ .value | upper }}`}}"
{{- end }}