{{- if .Values.externalSecret.app.enabled }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ $.Release.Name }}-app-secrets
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: {{ default (printf "%s-secrets-store-%s" .Values.global.client_name .Values.global.env) .Values.externalSecret.app.secretStoreName }}
    kind: SecretStore
  target:
    name: {{ $.Release.Name }}-app-secrets
    creationPolicy: Owner
    deletionPolicy: Delete
  dataFrom:
    - extract:
        key: "{{ .Values.global.client_name }}-{{ .Values.global.env }}/application/config"
      rewrite:
        - regexp:
            source: "(.*)"
            target: "JETSCALE_$1"
        - transform:
            template: "{{`{{ .value | upper }}`}}"
{{- end }}