{{- if .Values.externalSecret.app.enabled }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ $.Release.Name }}-app-secrets
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: "{{ .Values.global.client_name }}-secrets-store-{{ .Values.global.env }}"
    kind: SecretStore
  target:
    name: {{ $.Release.Name }}-app-secrets
    creationPolicy: Owner
    deletionPolicy: Delete
  dataFrom:
    - extract:
        key: "{{ .Values.global.client_name }}-{{ .Values.global.env }}/application/config"
      rewrite:
        - regexp:
            source: "(.*)"
            target: "JETSCALE_$1"
        - transform:
            template: "{{`{{ .value | upper }}`}}"
{{- end }}