apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: "{{ .Values.global.client_name }}-app-secrets"
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: "{{ .Values.global.client_name }}-secrets-store-{{ .Values.global.env }}"
    kind: SecretStore
  target:
    name: jetscale-app-secrets
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: "{{ .Values.global.client_name }}-{{ .Values.global.env }}/application/config"
