---
# Source: jetscale/charts/backend-api/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: test-backend-api
  labels:
    helm.sh/chart: backend-api-2.0.3
    app.kubernetes.io/name: backend-api
    app.kubernetes.io/instance: test
    app.kubernetes.io/version: "1.0.0"
    app.kubernetes.io/managed-by: Helm
spec:
  type: ClusterIP
  sessionAffinity: None
  ports:
    - port: 8000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: backend-api
    app.kubernetes.io/instance: test
