apiVersion: v1
items:
- apiVersion: external-secrets.io/v1
  kind: ExternalSecret
  metadata:
    name: jetscale-aws-client-secret
    namespace: test-jetscale-staging
  spec:
    dataFrom:
    - extract:
        conversionStrategy: Default
        decodingStrategy: None
        key: jetscale-staging/application/aws/client
        metadataPolicy: None
    refreshInterval: 1h
    secretStoreRef:
      kind: SecretStore
      name: jetscale-secrets-store-staging
    target:
      creationPolicy: Owner
      deletionPolicy: Retain
      name: test-aws-client-secret
- apiVersion: external-secrets.io/v1
  kind: ExternalSecret
  metadata:
    name: jetscale-common-secrets
  spec:
    data:
    - remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: jetscale-staging/application/encryption_key
        metadataPolicy: None
        property: APP_ENCRYPTION_KEY
      secretKey: aes_encryption_key
    refreshInterval: 1h
    secretStoreRef:
      kind: SecretStore
      name: jetscale-secrets-store-staging
    target:
      creationPolicy: Owner
      deletionPolicy: Retain
      name: test-common-secrets
      template:
        data:
          JETSCALE_ENCRYPTION_SECRET_KEY: '{{ .aes_encryption_key }}'
        engineVersion: v2
        mergePolicy: Replace
        metadata: {}
        type: Opaque
- apiVersion: external-secrets.io/v1
  kind: ExternalSecret
  metadata:
    name: jetscale-db-secret
    namespace: test-jetscale-staging
  spec:
    data:
    - remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: jetscale-staging/database/postgres
        metadataPolicy: None
        property: username
      secretKey: username
    - remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: jetscale-staging/database/postgres
        metadataPolicy: None
        property: password
      secretKey: password
    - remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: jetscale-staging/database/postgres
        metadataPolicy: None
        property: host
      secretKey: host
    - remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: jetscale-staging/database/postgres
        metadataPolicy: None
        property: port
      secretKey: port
    - remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: jetscale-staging/database/postgres
        metadataPolicy: None
        property: dbname
      secretKey: dbname
    refreshInterval: 1h
    secretStoreRef:
      kind: SecretStore
      name: jetscale-secrets-store-staging
    target:
      creationPolicy: Owner
      deletionPolicy: Retain
      name: test-db-secret
      template:
        data:
          JETSCALE_DATABASE_URL: postgresql+asyncpg://{{ .username }}:{{ .password
            }}@{{ .host }}:{{ .port }}/{{ .dbname }}
          JETSCALE_DB_HOST: '{{ .host }}'
          JETSCALE_DB_NAME: '{{ .dbname }}'
          JETSCALE_DB_PASSWORD: '{{ .password }}'
          JETSCALE_DB_USER: '{{ .username }}'
        engineVersion: v2
        mergePolicy: Replace
        metadata: {}
        type: Opaque
- apiVersion: external-secrets.io/v1
  kind: ExternalSecret
  metadata:
    name: jetscale-redis-secret
    namespace: test-jetscale-staging
  spec:
    data:
    - remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: jetscale-staging/application/backend/redis
        metadataPolicy: None
        property: redis-endpoint.0.address
      secretKey: endpoint
    refreshInterval: 1h
    secretStoreRef:
      kind: SecretStore
      name: jetscale-secrets-store-staging
    target:
      creationPolicy: Owner
      deletionPolicy: Retain
      name: test-redis-secret
      template:
        data:
          JETSCALE_REDIS_HOST: '{{ .endpoint }}'
          JETSCALE_REDIS_SSL: "true"
        engineVersion: v2
        mergePolicy: Replace
        metadata: {}
        type: Opaque
kind: List
metadata:
  resourceVersion: ""
