apiVersion: v1
automountServiceAccountToken: true
kind: ServiceAccount
metadata:
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::081373342681:role/jetscale-staging-external-secrets-role
  name: jetscale-external-secrets
  namespace: test-jetscale-staging