apiVersion: v1
automountServiceAccountToken: true
kind: ServiceAccount
metadata:
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::081373342681:role/jetscale-staging-app-role
  name: jetscale-service-account
  namespace: test-jetscale-staging
