name: Release Stack

on:
  push:
    branches: [ main ]
    paths:
      - 'charts/app/**'
      - '.github/workflows/reusable-release.yaml'
  workflow_dispatch: {}

permissions:
  contents: write
  packages: write

jobs:
  call-release:
    name: "Pipeline"
    uses: ./.github/workflows/reusable-release.yaml
    with:
      chart_path: "charts/app"
      # ⚠️ CRITICAL: This input drives the prefix logic
      tag_prefix: "chart-v"
    secrets:
      token: ${{ secrets.JETSCALEBOT_GITHUB_TOKEN }}
